.row {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
}

.post {
    flex-basis: 70%;
    border-right: 1px solid #333333;
}

.comment {
    flex-basis: 30%;
}