<!-- https://dev.to/fredy/how-to-create-a-simple-modern-profile-card-using-tailwind-css-471b -->
{% load static %}

<!DOCTYPE html>
<head>
  <title>View Profile</title>
  <link href="{% static 'authors/output.css' %}" rel="stylesheet" />
</head>
<body class="bg-gray-200">
  <div class="mt-6 shadow-shadow-500 shadow-3xl rounded-xl relative mx-auto flex h-full w-full max-w-[550px] flex-col items-center bg-white bg-cover bg-clip-border p-[16px]">
    <div class="relative mt-1 flex h-32 w-full justify-center rounded-xl bg-cover" style='background-image: url("https://i.ibb.co/FWggPq1/banner.png");'>
      <div class="absolute -bottom-12 flex h-[88px] w-[88px] items-center justify-center rounded-full border-[4px] border-white bg-pink-400">
        {% if profileImage %}
        <img class="h-full w-full rounded-full" src="{{ profileImage }}" alt="" />
        {% else %}
        <img class="h-full w-full rounded-full" src="{% static 'authors/default.jpg' %}" alt="" />
        {% endif %}
      </div>
    </div>
    <div class="mt-16 flex flex-col items-center">
      {% if displayName %}
      <h4 class="text-blue-950 text-xl font-bold">{{ displayName }}</h4>
      {% else %}
      <h4 class="text-blue-950 text-xl font-bold">Anonymous</h4>
      {% endif %}
      {% if host %}
      <p class="text-blue-950 text-base font-normal">{{ host }}</p>
      {% endif %}
    </div>
    <div class="mt-6 mb-3 flex gap-4 md:!gap-14">
      <div class="flex flex-col items-center justify-center">
        <h3 class="text-blue-950 text-2xl font-bold">17</h3>
        <p class="text-blue-950 text-sm font-normal">Posts</p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <h3 class="text-blue-950 text-2xl font-bold">9.7K</h3>
        <p class="text-blue-950 text-sm font-normal">Followers</p>
      </div>
      <div class="flex flex-col items-center justify-center">
        <h3 class="text-blue-950 text-2xl font-bold">434</h3>
        <p class="text-blue-950 text-sm font-normal">Following</p>
      </div>
    </div>
    {% if github %}
    <div class="mt-5 flex flex-col items-center">
        <a href="{{ github }}">
        <!-- https://tailwind-elements.com/docs/standard/components/social-buttons/ -->
        <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-7 w-7"
        fill="currentColor"
        style="color: #333"
        viewBox="0 0 24 24">
        <path
          d="M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z" />
      </svg>
      </a>
    </div>
    {% endif %}
  </div>
</body>
